*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'League Spartan', sans-serif;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
    background: #A77F4E;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
    width: 600px;
}

nav a{
    color: #000;
    font-size: 18px;
    border-bottom: rgba(0,0,0,0.50) 1px solid;
}


nav a:hover{
    border-bottom: #fafafa solid 1px;
}

#secCarrossel{
    display: flex;
    justify-content: center;
    background: #D9CA9F;
}

main{
    background: #646843;
    height: 300px;
}

#sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
}